<footer class="footer">
    <p class="footer__text">© RodelDecio 2024. All rights reserved.</p>
    <div class="footer__socials">
      <a href="#" class="footer__socials__link" aria-label="LinkedIn">
        <img src="images/linkedin.png" alt="LinkedIn">
      </a>
      <a href="mailto:your-email@example.com" class="footer__socials__link" aria-label="Gmail">
        <img src="images/gmail.png" alt="Gmail">
      </a>
      <a href="#" class="footer__socials__link" aria-label="Facebook">
        <img src="images/facebook.png" alt="Facebook">
      </a>
    
    </div>
  </footer>
  