<section id="about" class="about">
    <div class="about__content">
      <img src="images/Del.jpg" alt="Profile" class="about__image" />
      <div class="about__info">
        <h1 class="about__title">Hello and Welcome!</h1>
        <p class="about__text">
            "I am Rodel M. Decio, a dedicated web developer with a passion for creating innovative digital solutions. Alongside web development, I am deeply interested in networking technologies and their integration in modern systems. Currently, I am in my fourth year of study, continuously expanding my expertise in both areas."
        </p>
      </div>
    </div>
  </section>
  